{%extends 'logged_in.html'%}
{%load static%}

<body>
    

{%block shit%}

<div class="container" style="position: absolute;left:75%;top:100%;background-color: rgba(199, 199, 199, 0.685);padding: 50px;">
<div class="address-container" style="position:relative;top:50%;left:0%;width:100%">

</div>
    <form method="POST" enctype="multipart/form-data">
    
        {% csrf_token %}
    
        {{ form.as_p }}
        
        <input type="submit" value="Save">
    </form>
    <script>
        $(document).ready(function (){
            for (let element of document.body.getElementsByTagName("*")){
                if (element.tagName=="TEXTAREA" || element.tagName=="INPUT" && element.id!="search-text"){
                    element.classList.add("input-text")
                    element.classList.add("main_style")
                }
                console.log(element.tagName)
            }
        })
    </script>
</div>
<script>
    document.getElementById("background-image-2").style.opacity="100%"
</script>
{%endblock shit%}

</body>
