{% load static %}

<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'tasnim_main_app/styles.css'%}">
    <link rel="stylesheet" href="{%static 'tasnim_main_app/fontawesome/css/all.css'%}">
    <script src="{%static 'tasnim_main_app/jquery-3.6.0.min.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/font-face.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


    
    
</head>

<body>
        
    <img id="background-image-2" src="{%static 'tasnim_main_app/images/back2.jpeg'%}"  style="z-index: -4;;opacity: 80%;;width: 100%;height: 100%;position:absolute;" >
        
        <div class="header-first" style="position:absolute;top:0;z-index: 0;left:0%; border-radius:0px;height:18%;background-color:#f7f7f7">
         
            <img style="height:100%;position:absolute;top:0%;left:0%;z-index: 0;opacity: 100%;" src="{%static 'tasnim_main_app/images/logo.png'%}">
            {%for tab in tab_data%}
            <a href="/login/{{tab.cat.url}}" style="text-decoration: none">
            <div  class="category-nav-bar" style="font-size:large;">
                {{tab.cat.name}} 
            <div class="dropdown"  style="margin-top:40px">
            </a>
            <a href="/login/{{tab.cat.url}}/add">
                    اضافه<i class="fa fa-plus" style="color:#3a7fe665;position:relative;top:5px;left:10px;font-size:24px"></i>
            </a>
            <br>
            
                </div>
            </div>
   
            {%endfor%}
                <div  class="category-nav-bar">
                    فیلتر 
                    <div class="dropdown"  style="margin-top:40px;height:100px">
                    </a>
                    
                    <br>
                    <a href="/login/Inputs/detail_report">
                         ورودی ها  <i class="fa fa-arrow-left" style="color:#3a7fe665;position:relative;top:5px;left:10px;font-size:24px"></i>
                    </a>
                    <br>
                    <a href="/login/Outputs/detail_report">
                            خروجی ها <i class="fa fa-arrow-right" style="color:#3a7fe665;position:relative;top:5px;left:10px;font-size:24px"></i>
                    </a>
                    <a href="/login/report-home" style="text-decoration: none;color:black ">

                      
                            
                    </a>
                   
                    </div>
                    
                    </div>
                    <div class="category-nav-bar" style="font-size: large;position:relative;z-index:0;left:0vh;top:15 vh" aria-placeholder="">
                        <a href="/login/report-home"> گزارشات</a>

                        <div class="dropdown"  style="margin-top:40px;height:100px">
                        </a>
                        <a href="/login/report-home">
                               نمای کلی<i class="fa fa-tasks" aria-hidden="true" style="color:#002b6b;position:relative;top:5px;left:10px;font-size:24px"></i>
                        </a>
                  
                        <br>
                        <br>
                    
                        <a href="/login/Projects/report">
                          گزارش ۳۰ روزه<i class="fa fa-clock" style="color:#3a7fe665"></i>
                            </a>
                          
                                
                        </a>
                       
                        </div>
                        
                 </div>
                 <a href="/backhome" style="text-decoration: none;color:black ">

                    <div class="category-nav-bar" style="position:absolute;left:92%;top:15%;z-index:0" aria-placeholder="">
                        <i class="fas fa-home" style="color: blue;">    
                        </i>
                        <br>خانه
                        <div style="position:relative;font-size: small;left:110%">
                       </div>
                </a>
                    </div>
                
                </div>
     
              
      </div>

         
   
            </div>
            
            </div>
         </a>
  


                 

     
    </div>
    <div id="layer " class="background-layer " style="background-color:white; ">

        {%block shit%} 
        
        {%endblock shit%}

        <div>

</body>
{%block sidebar%}



{%endblock sidebar%}
</html>
