{% load static %}

<html>

<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'tasnim_main_app/styles.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    
    

    
    
</head>


<body>


    <div>

        <img style="height:100px;position:absolute;top:2%;left:-2%" src="{%static 'tasnim_main_app/images/logo.png'%}">
       

        <div class="header-first" style="position:absolute;top:0;z-index: 0;left:0%; border-radius:0px;height:18%">
           
            {%for tab in tab_data%}
            <a href="/login/{{tab.cat.url}}" style="text-decoration: none">
            <div  class="category-nav-bar">
                {{tab.cat.name}} 
            <div class="dropdown"  style="margin-top:40px">
            </a>
            <a href="/login/{{tab.cat.url}}/add">
                    اضافه<i class="fa fa-plus" style="color:green;position:relative;top:5px;left:10px;font-size:24px"></i>
            </a>
            <br>
            <a href="/login/{{tab.cat.url}}/report">
                 گزارش کلی <i class="fa fa-bar-chart" style="color:green;position:relative;top:5px;left:10px;font-size:24px"></i>
              </div>
            </div>
            </a>
            {%endfor%}
                <div  class="category-nav-bar">
                    گزارش دقیق
                    <div class="dropdown"  style="margin-top:40px;height:100px">
                    </a>
                    <a href="/login/Projects/detail_report">
                            پروژه ها<i class="fa fa-tasks" aria-hidden="true" style="color:green;position:relative;top:5px;left:10px;font-size:24px"></i>
                    </a>
                    <br>
                    <a href="/login/Inputs/detail_report">
                         ورودی ها  <i class="fa fa-arrow-left" style="color:green;position:relative;top:5px;left:10px;font-size:24px"></i>
                    </a>
                    <br>
                    <a href="/login/Outputs/detail_report">
                            خروجی ها <i class="fa fa-arrow-right" style="color:green;position:relative;top:5px;left:10px;font-size:24px"></i>
                    </a>
                    </div>
                    </div>
                    </div>
                </div>
۳        </div>

            <a href="/backhome" style="text-decoration: none;color:black ">

                <div class="category-nav-bar" style="position:absolute;left:87%;top:2%;z-index:2" aria-placeholder="">

                    خانه
                    <div style="position:relative;font-size: small;left:110%">
                    {{request.user.username}}

                   </div>
            </a>
           
            <a href="/login/report">
            </div>
            
            </div>
         </a>
  


                 

     
    </div>
    <div id="layer " class="background-layer " style="background-color:white; ">

        {%block shit%} 
        
        {%endblock shit%}

        <div>

</body>
{%block sidebar%}



{%endblock sidebar%}
</html>
