{%extends 'logged_in.html'%}
{%load static%}

<body>
    


{%block shit%}
<div style="position: absolute;left:50px" >
<form  id="filter-form"  action="/login/Projects/report" method="POST" >    {%csrf_token%}
    
    
       <p><label >از تاریخ</label> <input type="text" name="start_date"  id="id_تاریخ" class="input-text main_style">
       <p><label> تا تاریخ</label> <input type="text" name="end_date"  id="id_نام_پروژه" class="input-text main_style"></p>
     
    

    
       </p>
       
     <input type="submit"  value="اعمال کن" class="input-text main_style">
        
   </form>
</div>
<table style="top:-20vh;position:relative;left:75vh ; font-size: 18px;">
<thead>
      
       <tr>   <td>نام  </td>  <td> ورودی</td> <td> خروجی</td> </tr>
</thead>
       <tbody></tbody>
{%for object in proj_total_finance%}

           <tr>
<td>
              {{object.0.نام_پروژه}}
       </td>       
           <td>{{object.1}}            </td>
           <br>
           <td>{{object.2}}            </td>
       </tr>
   
           {%endfor%}
</div>
<script>
       function beautify_number(x){
              return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
       }
       for (data of document.getElementsByTagName("TD")){
              data.innerHTML=beautify_number(data.innerHTML)
       }
</script>     
{%endblock shit%}
</table>
</body> 

