{%extends 'logged_in.html'%}
{%load static%}

<body>
    

{%block shit%}

<div class="container" >
  <table style="position: absolute; left:30%" id="results-table">
    <tr>
      <th>
        نام خیر
      </th>
      <th>
        مبلغ
      </th>
      <th>
        شماره کارت
      </th>
      <th>
        تاریخ
      </th>
      <th>
        عملیات
      </th>
      <th style="position: relative; left:5vh"> 
        <label for="جمع"></label>
        <em id='sum'>0</em>
        جمع
      </th>
    </tr>
    <tbody id="tbody">


        
    </tbody>
   
   </table>

<div class="sub-container" style="position:absolute;left:0%;background-color:rgb(245, 245, 245);opacity:80%;border-radius:25px;padding:50px;height: 100x;width:30vh;border-width: 4px;border-bottom-width:5px;border-bottom-color:rgb(138, 138, 138)">

    


    <form  id="filter-form" method="POST">    {%csrf_token%}
    
    
        <p><label >از تاریخ</label> <input type="text" name="start_date"  id="id_تاریخ" class="input-text main_style">
        <p><label> تا تاریخ</label> <input type="text" name="end_date"  id="id_نام_پروژه" class="input-text main_style"></p>
      
        <p><label >نام خیر</label> <input type="text" name="donor_name"  id="id_تاریخ" class="input-text main_style">
        <p><label> شماره کارت</label> <input type="text" name="card_number"  id="id_نام_پروژه" class="input-text main_style"></p>
          <span>
            <label >   مبلغ کران پایین</label>
          <input class="input-text main_style"  type="number" name="min" value="0" id="start">
          <label > مبلغ کران بالا</label>

          <input class="input-text main_style" type="number" name="max"  value="0" id="end">
          </span>
        </p>
     
      <input type="submit" value="اعمال کن" class="input-text main_style">

    </form>
    <script src="{%static 'tasnim_main_app/filter_inputs.js'%}">

    </script>
               <script>
                function beautify_number(x){
                       return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                }
                for (data of document.getElementsByTagName("TD")){
                       data.innerHTML=beautify_number(data.innerHTML)
                }
         </script>     
 

        
</div>


{%endblock shit%}

</body>